@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.todo {
  display: flex;
  flex-direction: column;
  border-radius: 1.25rem;
  box-shadow: 0rem 0.625rem 1.25rem -0.5rem $shadow-color;
  margin-left: 1.25rem;
  height: 25rem;
  width: 20%;
  position: absolute;
  background: $white;
  margin-top: 1.25rem;
  &__heading {
    display: flex;
    margin: 1.25rem;
    @include font-family-todo;
  }
  &__input {
    border: none;
    outline: none;
    border-bottom: 0.0625rem solid pink;
    width: 100%;
    margin-left: 0.625rem;
    margin-right: 1.25rem;
    padding: 0rem;
  }
  &__icon {
    width: 1.375rem;
    margin-left: 1.25rem;
    @include hover-color;
  }
}

.todo-list {
  overflow: auto;
  &__item {
    display: flex;
    flex-direction: row;
  }
  &::-webkit-scrollbar-track {
    background: $white;
    border-radius: 0.625rem;
  }
  &::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    border-radius: 0.625rem;
  }
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
}

li {
  list-style-type: none;
}
