@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 11%;

  border-radius: 20px;
  box-shadow: 0px 10px 20px -8px $shadow-color;
  margin: -50px auto;
  background: $white;

  &__text {
    @include font-family-timer;
    font-size: 36px;
  }
}

.timer-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  &__button {
    width: 50px;
    height: 65px;
    @include filter-color;

    &:hover {
      filter: invert(1) brightness(0%);
    }

    &--size {
      width: 32px;
    }
  }
}
