@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7.5rem;
  width: 11%;

  border-radius: 1.25rem;
  box-shadow: 0rem 0.625rem 1.25rem -0.5rem $shadow-color;
  margin: -3.125rem auto;
  background: $white;

  &__text {
    @include font-family-timer;
    font-size: 2.25rem;
  }
}

.timer-box {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  &__button {
    width: 3.125rem;
    height: 4.0625rem;
    @include filter-color;

    &:hover {
      filter: invert(1) brightness(0%);
    }

    &--size {
      width: 2rem;
    }
  }
}
