@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.tools {
  position: absolute;
  &__list {
    display: flex;
    flex-direction: row;
    margin: 1.25rem 1.25rem 0rem 1.25rem;
    width: 3.125rem;
    gap: 1.25rem;
  }
  &__image {
    width: 3.125rem;
    @include filter-color;

    &:hover {
      filter: invert(1) brightness(0%);
    }

    &--hidden {
      visibility: hidden;
    }
    &--active {
      visibility: visible;
    }
  }
  &__item {
    transition: transform 0.3s ease-in-out;
    &--mod {
      &:hover {
        transform: translateY(-0.25rem);
      }
    }
  }
}
