@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.audio-container {
  display: flex;
}

.rhap_container {
  background-color: $white !important;
  border-radius: 1.25rem;

  box-shadow: 0rem 0.625rem 1.25rem -0.5rem $shadow-color !important;
}

.iconify {
  filter: invert(57%) sepia(92%) saturate(352%) hue-rotate(203deg)
    brightness(105%) contrast(92%) !important;
}

.rhap_progress-indicator {
  @include filter-color;
}

.rhap_volume-indicator {
  @include filter-color;
}
